<div data-role="popup" id="pop-dialog" data-overlay-theme="b" data-theme="a" style="max-width:400px;" data-dismissible="<%= dismissible %>">
    <div data-role="header">
        <h1 class="msg-head"><%= head %></h1>
    </div>
    <div data-role="content">
        <h3 class="msg-alert"><%= alert %></h3>
        <p class="msg-note"><%= note %></p>
        <br><br>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-icon-back ui-btn-icon-left" data-rel="back">Cancel</a> 
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b ui-icon-check ui-btn-icon-left" data-rel="back">Ok</a>                 
    </div>
</div>